.library__header {
  height: 230px;
  margin-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/header-library/library-header-mobile.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/library-header-mobile-2x.jpg');
  }

  @media screen and (min-width: 768px) {
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/library-header-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header-library/library-header-mobile-2x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/src/images/header-library/library-header-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/header-library/library-header-desktop-2x.jpg');
    }
  }
}

.library__btn-list {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.library__btn-item:first-child {
  margin-right: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

.library__btn {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
}

.active__btn {
  background-color: #ff6b01;
  border-color: #ff6b01;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
}
