.authentication_backdrop {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow-y: scroll;
  z-index: 0;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-container {
  position: absolute;
  display: block;
  box-sizing: border-box;
  z-index: 10;
  padding: 20px;
  margin: 0;
  max-width: 95%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;

  @media screen and (max-width: 1023px) {
    // height: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 500px;
  }
}

.auth_input {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  padding-right: 20px;
  background-color: transparent;
  border: none;
  width: 95%;
  height: 38px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  color: #ffffff;
  border-bottom: 0.5px solid #ffffff;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    // width: 336px;
  }

  @media screen and (min-width: 1280px) {
    // width: 394px;
  }
}

.auth_input:hover,
.auth_input:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-btn-exit {
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #07131bda;
  transition: scale 550ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 480px) {
    right: 0px;
    top: -15px;
  }
}

.auth-submit {
  display: block;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  color: #ffffff;
  font-weight: 600;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ff6b01;
  border-color: #ff6b01;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  border-radius: 5px;
  transition: scale 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-submit:focus,
.auth-submit:hover {
  scale: 1.03;
}

.btn-recower-password,
.btn-reg-open-form,
.interface-btn {
  color: #ffffff7c;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px dashed #ffffff7c;
  @media screen and (max-width: 480px) {
    border-bottom: none;
  }
}

.btn-reg-open-form {
  margin-left: 10px;
}

.btn-recower-password:hover,
.btn-reg-open-form:hover,
.interface-btn:hover,
.btn-recower-password:focus,
.btn-reg-open-form:focus,
.interface-btn:focus {
  color: #ffffff;
}

.is_hidden {
  opacity: 0;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

.interface-btn {
  // display: block;
  padding: 10px;
  // margin-right: 10px;
  position: relative;
  height: 14px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.16;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: end;
  // text-transform: uppercase;
  color: #ffffffc1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ff6b01;
  }
}

.interface-btn-out {
  margin-left: auto;
}

.interface-btn-user {
  @media screen and (max-width: 480px) {
    display: none;
    font-size: 12px;
  }
}

.patron-container {
  position: fixed;
  top: 79%;
  left: 2%;
  width: 150px;

  @media screen and (max-width: 480px) {
    width: 75px;
    top: 80%;
  }
}
