.pagination-container {
  display: flex;
  justify-content: center;

  padding: 40px 0px;

  @media screen and (min-width: 768px) {
    padding: 60px 0px;
  }
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #ffffff;
  padding: 5px;
  border: none;
  border-radius: 5px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  color: #000000;

  transition: 250ms ease color, 250ms ease background-color;

  &:hover,
  &:focus {
    cursor: pointer;

    background-color: #ff6b08;
    color: #ffffff;
  }

  &.current-page {
    background-color: #ff6b08;
    color: #ffffff;
  }

  &.disabled {
    background-color: #f7f7f7;
    color: #8c8c8c;

    cursor: default;
  }

  &.grey-light {
    background-color: #f7f7f7;
  }
}

.pagination-btn + .pagination-btn {
  margin-left: 5px;
}
