$trans-dur: 250ms;
$trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);

// .tmp-movies-list {
//   display: flex;
//   gap: 30px;

//   list-style-type: none;
// }

// .tmp-movies-list img {
//   cursor: pointer;
// }

// button.current-page {
//   font-weight: bold;
//   font-size: larger;
// }

.tmp-backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow-y: scroll;

  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity $trans-dur $trans-time-func,
    visibility $trans-dur $trans-time-func;
}

.tmp-backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.tmp-backdrop--is-hidden .tmp-backdrop__modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.tmp-backdrop__modal {
  overflow-y: auto;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  background-color: #fff;
  border-radius: 4px;

  transition: transform $trans-dur $trans-time-func;
}

.tmp-backdrop__modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color $trans-dur $trans-time-func;
}

.tmp-backdrop__modal-icon {
  fill: currentColor;
}

.tmp-movie-modal {
  display: flex;
}

.tmp-movie-modal img {
  width: 200px;
}
