<section class="all-movies__container">
  <div class="movies__container">
    <h1 class="visually-hidden">Movies</h1>
    <ul class="movies-list" data-movies>
      <!-- <li class="card__film" data-movie-id="">
        <img class="card__img" src="./images/default-poster.jpg" alt="movie poster">
        <div class="card__info">
          <h2 class="card__title">title</h2>
          <p class="card__text">
            <span class="card__genre"></span>
            <span class="card__release"></span>
          </p>
        </div>
      </li> -->
    </ul>
  </div>
</section>
<div data-pages class="pagination-container">
  <!-- <button class="current"  data-page=""></button> -->
</div>
