<div class="authentication_backdrop is_hidden" id="authentication_backdrop">
  <div class="authentication-container">
    <button type="button" class="modal-btn-exit" id="modal-btn-exit">
      <svg
        class="team-modal__icon"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.25928 1L14.7408 15" stroke="#ff6b08" />
        <path d="M1 14.7407L15 1.25924" stroke="#ff6b08" />
      </svg>
    </button>
    <div class="form-container" id="form-container">
      <!-- <form class="authentication-form" id="authentication-form"> -->
      <!-- <div class="input-form">
        <input
          class="auth_input"
          type="email"
          name="login"
          placeholder="Email..."
        />
        <input
          class="auth_input"
          type="password"
          name="password"
          placeholder="Password..."
          minlength="6"
        />
      </div>
      <button
        class="auth-submit"
        type="submit"
        class="logine-authentication"
        id="logine-authentication"
      >
        Log in to the site
      </button>
      <button type="button" class="btn-recower-password">
        Recower password
      </button>
      <button type="button" class="btn-reg-open-form" id="btn-reg-open-form">
        Registration
      </button> -->
      <!-- </form> -->
    </div>
  </div>
</div>
